anyio==4.12.0
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
curl_cffi==0.14.0
distlib==0.4.0
filelock==3.20.1
h11==0.16.0
httpcore==1.0.9
identify==2.6.15
idna==3.11
librt==0.7.4
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
pre_commit==4.5.1
pycparser==2.23
PyYAML==6.0.3
ruff==0.14.10
typing_extensions==4.15.0
virtualenv==20.35.4
